header{
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    font-weight: bold;
    height: 10%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0.2%;
    padding-bottom: 1vh;
    box-sizing: border-box;
    font-family: "Open Sans";
    position: relative;
    z-index: 1;
}

.hamburger-menu{
    width: 35px;
    height: 30px;
    position: fixed;
    top: 50px;
    right: 50px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}



.line{
    width: 100%;
    height: 4px;
    background-color: rgb(235, 177, 211);
    transition: all 0.8s;
}


.change .line-1{
    transform: rotateZ(-45deg) translate(-8px,6px);
}
.change .line-2{
    opacity: 0;
}
.change .line-3{
    transform: rotateZ(45deg) translate(-8px,-6px);
}

.navbar{
    width: 300px;
    height: 93.9%;
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    right: -300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20% 0 0 60%;
    transition: right 0.8s cubic-bezier(1, 0, 0, 1);
    opacity: 0.9;
}

.change{
    right: 0;

}

.nav-list{
    text-align: right;
}

.nav-item{
    list-style: none;
    margin: 65px;
}

.nav-link{
    text-decoration: none;
    font-size: 25px;
    color: aliceblue;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    padding: 3px 0;
}

.nav-link::before, 
.nav-link::after{
    content: "";
    width: 100%;
    height: 2px;
    background-color: rgb(235, 177, 211);
    position: absolute;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.5s;

}


.nav-link::after{
    bottom: 0;
    transform-origin: right;
}

.nav-link::before{
    top: 0;
    transform-origin: left;
}

.nav-link:hover::before,
.nav-link:hover::after{
    transform: scaleX(1);

}

.logo{
    position: fixed;
    left: 25vw;
    /* left: 35%; */
    transform: translateX(-50%);
    /* z-index: 9999; */
    zoom: 15%; 
    top: 6vh;
    opacity: 0.6;
    /* animation: bounce 0.4s infinite; */
    
    
}


.names{

    font-family: "Open Sans";
    font-weight: 500;
    letter-spacing: 3px;
    text-transform: uppercase;
    flex: 1;
    text-align: center;
    position: relative;
    font-size: 10px;
    margin-top: 1vh;
    color: aliceblue;
    text-shadow: 2px 4px 4px rgb(235, 177, 211);
    /* animation: textAnimate 5s infinite alternate; */
  
}



/*-------------------------------------------animation of rocket-------------------------------------------------------*/

.rocket{
    position: absolute;
    top: 35%;
    width: 6vw;
    left: calc(50% - 50px);
}

.rocket .rocket-body{
    width: 7vw;
    left: calc(50% - 50px);
    animation: bounce 0.4s infinite;
}

.rocket .rocket-body .body{
    background-color: rgb(182, 182, 182);
    height: 33vh;
    left: calc(50% - 50px);
    border-top-right-radius: 100%;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top: 5px solid #8e0000;
}

.rocket .rocket-body:before{
    content: '';
    position: absolute;
    left: calc(50% - 24px);
    width: 4vw;
    height: 2.2vh;
    background: linear-gradient(to right top, #9b0000, #8e0000); 
    bottom: -2.2vh;
    border-bottom-right-radius: 60%;
    border-bottom-left-radius: 60%;

}

.rocket .window{
    position: absolute;
    width: 4vw;
    height: 8vh;
    border-radius: 100%;
    background-color: rgb(41, 41, 41);
    left: calc(50% - 2vw);
    top: 8vh;
    border: 5px solid #8e0000;
}


.rocket .window::after{
    position: absolute;
    content: '';
    width: 1vw;
    height: 2vh;
    border-radius: 50%;
    top: 20%;
    left: 20%;
    background-color: rgb(189, 189, 189);

}

.rocket .fin{
    position: absolute;
    height: 55px;
    width: 50px;
    background: linear-gradient(to right top, #900000, #9e0000);
    z-index: -100;
}

.rocket .fin-left{
    left: -38px;
    top: calc(100% - 55px);
    border-top-left-radius: 80%;
    border-bottom-left-radius: 20%;

}

.rocket .fin-right{
    right: -38px;
    top: calc(100% - 55px);
    border-top-right-radius: 80%;
    border-bottom-right-radius: 20%;

}

.rocket .exhaust-flame{
    position: absolute;
    top: 90%;
    width: 28px;
    background: linear-gradient(to bottom ,transparent 10% , #e28420 100%); 
    height: 150px;
    left: calc(50% - 7px);
    animation: exhaust 0.2s infinite;
}

.rocket .exhaust-fumes li{
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: #9a9a9a;
    list-style: none;
    border-radius: 100%;
    
}
/*

.rocket .exhaust-fumes li:first-child{
    width: 200px;
    height: 200px;
    bottom: -700px;
    animation:fumes 5s infinite;
}


.rocket .exhaust-fumes li:nth-child(2){
    width: 150px;
    height: 150px;
    left: -120px;
    top: 260px;
    animation:fumes 3.2s infinite;
}

.rocket .exhaust-fumes li:nth-child(3){
    width: 120px;
    height: 120px;
    left: -40px;
    top: 330px;
    animation:fumes 3s 1s infinite;
}

.rocket .exhaust-fumes li:nth-child(4){
    width: 100px;
    height: 100px;
    left: -170px;
    top: 370px;
    animation:fumes 4s 2s infinite;
}


.rocket .exhaust-fumes li:nth-child(5){
    width: 130px;
    height: 130px;
    left: -120px;
    top: 350px;
    animation:fumes 5s infinite;
}

.rocket .exhaust-fumes li:nth-child(6){
    width: 200px;
    height: 200px;
    left: -60px;
    top: 280px;
    animation:fumes2 10s infinite;
}

.rocket .exhaust-fumes li:nth-child(7){
    width: 100px;
    height: 100px;
    left: -100px;
    top: 320px;
    animation:fumes 4s 2s infinite;
}

.rocket .exhaust-fumes li:nth-child(8){
    width: 110px;
    height: 110px;
    left: 70px;
    top: 340px;
    animation:fumes 1s 2s infinite;
    
}



.rocket .exhaust-fumes li:nth-child(9){
    width: 90px;
    height: 90px;
    left: 200px;
    top: 380px;
    animation:fumes 20s infinite;
}



@keyframes fumes{
    50%{
        transform: scale(1.5);
        background-color: transparent;
    }
    51%{
        transform: scale(0.8);

    }
    100%{
        background-color: #a3a3a3;
        transform: scale(1);
    }
}


@keyframes bounce{
    0%{
        transform: translate3d(0px, 0px, 0);
    }
    50%{
        transform: translate3d(0px, -13px, 0);
    }
    100%{
        transform: translate3d(0px, 0px, 0);
    }
}



@keyframes exhaust{
    0%{
        background: linear-gradient(to bottom, transparent 10%, #f5f5f5 100%);
    }
    50%{
        background: linear-gradient(to bottom, transparent 8%, #f5f5f5 100%);
    }
    75%{
        background: linear-gradient(to bottom, transparent 12%, #f5f5f5 100%);
    }
}



@keyframes fumes2{
    50%{
        transform: scale(1.1);
    }

}

/*----------------------------------welcome buttons-------------------------------------------*/


.buttons{
    text-align: center;
}


.btn{
    border: 2px solid #ffffff;
    background: transparent;
    padding: 17px 40px;
    font-family: "Open Sans";
    font-weight: bold;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
    border-radius: 90px;
    transition: 0.5s ease-in-out ;
}

.btn:hover{
    cursor: pointer;
    border: 2px solid #ffb9e3;
    background: rgb(235, 177, 211);
    box-shadow: 0 0 5px #ffb9e3,0 0 20px #ffb9e3, 0 0 40px #ffb9e3, 0 0 80px #ffb9e3 ;
}