header{
    background-color: rgb(38, 38, 38);
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    height: 10%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0.2%;
    box-sizing: border-box;
    font-family: "Open Sans";
}

.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}

.logo{
    zoom: 20%;
    cursor: pointer;
}

.menu-icon{
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-left: 40px;
    padding-top: 24px;
    display: flex;

}
.menu-icon:hover{
    background-color: coral;
    border-radius: 100px;
    

}


.menuBar{
    flex: 1;
    text-align: left;
}


.menuBar ul li{
    text-align: left;
    list-style: none;
    display: inline-block;
    margin-right: 60px;
}

.menuBar ul li a{
    text-decoration: double;
    color: rgb(255, 255, 255);
    font-size: 18px;
    transition: color .5s ease;

}



.menuBar ul li :hover {
    color: rgb(235, 177, 211);
    background-color: rgb(194, 198, 198);
    border-radius: 30px;
    padding: 8px 10px;
    transition: color .5s ease;

}

